@import "tailwindcss";

:root {
  --color-bg-light: #F9F9FB;
  --color-bg-dark: #121212;
  
  --color-card-light: #EDE7F6;
  --color-card-dark: #1E1E2E;

  --color-text-light: #1E1E1E;
  --color-text-dark: #F9F9FB;

  --color-text-secondary-light: #5A5A5A;
  --color-text-secondary-dark: #B3B3B3;

  --color-primary-light: #673AB7;
  --color-primary-dark: #9C27B0;

  --color-primary-hover-light: #512DA8;
  --color-primary-hover-dark: #7B1FA2;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: all 0.3s ease-in-out;
}

.dark-mode {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}


