@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --color-bg-light: #F9F9FB;
  --color-bg-dark: #121212;
  
  --color-card-light: #EDE7F6;
  --color-card-dark: #1E1E2E;

  --color-text-light: #1E1E1E;
  --color-text-dark: #F9F9FB;

  --color-text-secondary-light: #5A5A5A;
  --color-text-secondary-dark: #B3B3B3;

  --color-primary-light: #673AB7;
  --color-primary-dark: #9C27B0;

  --color-primary-hover-light: #512DA8;
  --color-primary-hover-dark: #7B1FA2;
}

body {
  /* background-color: var(--color-bg-light); */
  background-color: #120a1f;
  /* color: var(--color-text-light); */
  color: var(--color-text-dark);
  transition: all 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dark-mode {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

h1, h2, h3, button, a {
     font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
}

